<!--TODO-----------------------------------------------
Multiple trends on same graph - just click trend name to add / remove
Manual datapoint entry
Modal Dialog to add trends
-->

{%- extends "layout.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Trends{% endblock %}

{% block main %}
{{ super() }}
  <div class="container">

  <!-- This page based on example located at https://getbootstrap.com/docs/4.5/examples/dashboard/#-->
	
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
				
				
				
				<li class="nav-item">	
				<h1>Add Trend Value</h1>
					<form method="POST" action="/trends">
						<input type="text" name="description"> Description
						<input type="text" name="trend_type"> Type
						<input type="text" name="unit_of_measure"> Unit
						<input type="submit" value="Add">
					</form>
				</li>	
				
				<h1>Trends</h1>
				{% for trend in trends %}
					<li class="nav-item">	
						<a class="nav-link" href="#">
							<span data-feather="home"></span>
					    	{{trend.description}} <small>( {{trend.unit_of_measure}} ) </small> 
						
						<form method="POST" action="{{url_for('trends_bp.delete')}}" style="float:right;">
							  <input type="hidden" value="{{trend.description}}" name="description">
							  <button><input type="submit" data-feather="minus-circle" value='Delete'></button>
						</form>
						</a>
					</li>	
				{% endfor %}				  
			</ul>
		  </div>
		</nav>
		
		
		
		<!--Start of main section -->
	
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
		  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Magnesium</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
			  <div class="btn-group mr-2">
				<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
			  </div>
			  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
				<span data-feather="calendar"></span>
				This week
			  </button>
			</div>
		  </div>
	

		  <!--Graph section -->


		  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
	
	
	
		  <!--Start of data section -->



	
	
		  <h2>Datalog</h2>
		  <div class="table-responsive">
			<table id="datatable" class="table table-striped table-sm">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Date</th>
				  <th>Trend Type</th>
				  <th>Value</th>
				  <th>Units</th>
				</tr>
			  </thead>
			  <tbody>
				  
				  
				{% for trend_data_entry in trend_data %}
				<tr>
					<td>{{trend_data_entry.id}}</td>
					<td>{{trend_data_entry.timestamp}}</td>
					<td>{{trend_data_entry.trend_type}}</td>
					<td>{{trend_data_entry.value}}</td>
					<td>{{trend_data_entry.unit_of_measure}}</td>
				</tr>
				{% endfor %}				  
  
				  
			  </tbody>
			</table>
				
		  </div>
		</main>
	  </div>	  
	  
	</div>
	{% block javascript %}
	<!-- https://www.chartjs.org/docs/latest/ -->

	<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"><\/script>')</script>
	<script src="{{url_for('trends_bp.static', filename='bootstrap.bundle.min.js')}}"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script src="{{url_for('trends_bp.static', filename='dashboard.js')}}"></script>

	<!-- https://datatables.net/ -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.22/datatables.css"/>	 
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.22/datatables.js"></script>
		
    <script>$(document).ready( function () {
		$.noConflict();
		  $('#datatable').DataTable();
	  } );
  	</script>
	  {%- endblock %}

	
	
	</body>
			
	</html>
	
{%- endblock %}
