<!--TODO-----------------------------------------------
Multiple trends on same graph - just click trend name to add / remove
Manual datapoint entry
Modal Dialog to add trends
-->

{%- extends "layout.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}Trends{% endblock %}

{% block main %}
{{ super() }}
  <div class="container">

  <!-- This page based on example located at https://getbootstrap.com/docs/4.5/examples/dashboard/#-->
	
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
		  <div class="sidebar-sticky pt-3">
			<ul class="nav flex-column">
				<h1>Trends</h1>
				{% for trend in trends %}
					<li class="list">	
						<span data-feather="home"></span>
						<a class="nav-link" href="/showtrend/{{trend.id}}">
					    	{{trend.description}} <small>( {{trend.unit_of_measure}} ) </small> 
						</a>
						<!--
						<form method="POST" action="{{url_for('trends_bp.add_data')}}" style="float:right;">
							<input type="hidden" value="{{trend.id}}" name="trend_id">
							<input type="text" name="value">
						  <button><input type="submit" data-feather="plus-circle" value='Add Data'></button>
						</form>
						-->
					</li>	
				{% endfor %}				  
			</ul>
		  </div>
		</nav>
		
		
		
		<!--Start of main section -->
	
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
		  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">{{trend_name}}</h1>
		  </div>
	

		  <!-- Chart -->


		  <canvas class="my-4 w-100" id="trendChart" width="900" height="380"></canvas>
	
	
	
		  <!--Start of data section -->



	
	
		  <h2>Data</h2>
		  <div class="table table-responsive">			  
			<table id="dataTable" class="table table-striped table-sm">
			  <thead>
				<tr>
				  <th>#{{active_trend_id}}</th>
				  <th>Trend ID</th>
				  <th>Date</th>
				  <th>Value</th>
				</tr>
			  </thead>
			  <tbody>
				{% for trend_entry in trend_data %}
						<tr>
							<td>{{trend_entry.id}}</td>
							<td>{{trend_entry.trend_id}}</td>
							<td>{{trend_entry.timestamp}}</td>
							<td>{{trend_entry.value}}</td>
						</tr>
				{% endfor %}				  
  
				  
			  </tbody>
			</table>
				
		  </div>
		</main>
	  </div>	  
	  
	</div>
	{% block javascript %}

	<!-- General libraries -->
	<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"><\/script>')</script>
	<script src="{{url_for('trends_bp.static', filename='bootstrap.bundle.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

	<!-- Data table -->
	<!-- https://datatables.net/ -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.22/datatables.css"/>	 
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.22/datatables.js"></script>
	<script>
	$(document).ready( function () {
		$.noConflict();
		  $('#dataTable').DataTable();
		} );  
	</script>


	  
	<!-- Chart Library: https://www.chartjs.org/docs/latest/ -->
	<!-- Data table import adapted from: https://css-tricks.com/the-many-ways-of-getting-data-into-charts/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
	<script>
	
		function BuildChart(labels, values) {
		  var ctx = document.getElementById("trendChart");
		  var myChart = new Chart(ctx, {
			type: 'line',
			data: {
			  labels: labels, // Our labels
			  datasets: [{
				label: "Trend Data", // Name the series
				data: values, // Our values
			  }]
			},
			options: {
				fill: false
			}
		  });
		  return myChart;
		}
		
		var table = document.getElementById("dataTable");
		var json = []; // First row needs to be headers 
		var headers =[];
		for (var i = 0; i < table.rows[0].cells.length; i++) {
		  headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
		}
		
		// Go through cells 
		for (var i = 1; i < table.rows.length; i++) {
		  var tableRow = table.rows[i];
		  var rowData = {};
		  for (var j = 0; j < tableRow.cells.length; j++) {
			rowData[headers[j]] = tableRow.cells[j].innerHTML;
		  }
		
		  json.push(rowData);
		}
		
		console.log(json);
		
		// Map JSON values back to label array
		var labels = json.map(function (e) {
		  return e.date.split(" ");
		});
		console.log(labels); 
		
		// Map JSON values back to values array
		var values = json.map(function (e) {
		  return e.value;
		});
		console.log(values); // ["10", "25", "55", "120"]
		
		var chart = BuildChart(labels, values);
	

	</script> 
	
	
	

	

	
	
	
	
	{%- endblock %}

	
	
	</body>
			
	</html>
	
{%- endblock %}
