{% block control_schema %}
	<h2>Control Schema</h2>
	<p>
		Control Schema are essentially named actions or collections of actions that can be triggered by the conditional or time based control outcomes<br  />
		For example a schema might consist of five actions<br  />
			- Turn outputs 1,2 and 3 off<br  />
			- Send an email message<br  />
			- restart RPi<br  />
		This could collectively be grouped and saved as 'system reboot'. <br  />
		It could be triggered every night at 1 am.
		Actions can include<br  />
		- Control of outputs<br  />
		- Activation and control of system functions<br  />
		- Control of Node functions<br  />
		- Triggering external scripts<br  />
		- Lighting control<br  />
	</p>
{%- endblock %}