{% block cron_tasks %}
	<h2>Cron Tasks</h2>
	<p>
		Frontend for system cron function<br  />
		Allows CRON tasks to be managed for Acqua related activities<br  />
		- Triggering control schema - regular on/off control as well as proportional / cyclic control for analog systems<br  />
		- Periodic activation of conditional control 
		- Activation of system tasks - 1 min cycle / 5 min cycle / 15 minute cycle / 60 minute cycle / 6 hour / 12 hour / 24 hour / etc
		- System CRON entries should not be editable / deletable
	</p>
	
	<h3>Default time periods</h3>
	<p>
	1m | 5m | 15m | 30m | 1h | 2h | 3h | 6h | 12h | 24h 
	</p>
	<p>Faster time periods use system clock</p>
	<h3>System CRON</h3>
	<p>Show the CRON</p>
	<p>Create System CRON [1min]</p>
	<p>Edit system CRON</p>
{%- endblock %}