{% block cron_tasks %}
	<h2>Cron Tasks</h2>
	<p>
		Frontend for system cron function<br  />
		Allows CRON tasks to be managed for Acqua related activities<br  />
		- Triggering control schema - regular on/off control as well as proportional / cyclic control for analog systems<br  />
		- Periodic activation of conditional control 
		- Activation of system tasks - 1 min cycle / 5 min cycle / 15 minute cycle / 60 minute cycle / 6 hour / 12 hour / 24 hour / etc
		- System CRON entries should not be editable / deletable
	</p>
{%- endblock %}