{%- extends "layout.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Configuration{% endblock %}

{% block main %}
{{ super() }}

<!--https://getbootstrap.com/docs/4.5/examples/dashboard/#-->
	
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
		  <div class="nav flex-column natab" id="tab-tab" role="tablist" aria-orientation="vertical"">
			<ul class="nav flex-column">
			  <li class="nav-item">
				<a class="nav-link" href="#tab-general-settings" data-toggle="pill" >
				  <span data-feather="home"></span>
				  General Settings
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-communication" data-toggle="pill" >
				  <span data-feather="users"></span>
				  Communication
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-node-configuration" data-toggle="pill">
				  <span data-feather="shopping-cart"></span>
				  Node Configuration
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-gpio-configuration" data-toggle="pill">
				  <span data-feather="users"></span>
				  GPIO Configuration
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-control-schema" data-toggle="pill">
				  <span data-feather="bar-chart-2"></span>
				  Control Schema
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-cron-tasks" data-toggle="pill">
				  <span data-feather="file-text"></span>
				  Cron Tasks
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-conditional-control" data-toggle="pill">
				  <span data-feather="file-text"></span>
				  Conditional Control
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-user-managmement" data-toggle="pill">
				  <span data-feather="file-text"></span>
				  User Management
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-trend-management" data-toggle="pill">
				  <span data-feather="layers"></span>
				  Trend Data Management
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-event-history" data-toggle="pill">
				  <span data-feather="layers"></span>
				  Event History
				</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#tab-database-management" data-toggle="pill">
				  <span data-feather="file-text"></span>
				  Database Management
				</a>
			  </li>
			</ul>
		  </div>
		</nav>
	
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
		  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<div class="col-9">
				<div class="tab-content" id="tab-tabContent">
					<div class="tab-pane active" id="tab-general-settings" role="tabpanel" aria-labelledby="tab-general-settings">
						{% block general %}{% include 'includes/general.html' %}{%- endblock %}						
					</div>
					
					<div class="tab-pane fade" id="tab-communication" role="tabpanel" aria-labelledby="ctab-communication">
						{% block communication %}{% include 'includes/communication.html' %}{%- endblock %}						
					</div>
					
					<div class="tab-pane fade" id="tab-node-configuration" role="tabpanel" aria-labelledby="tab-node-configuration">
						{% block nodes %}{% include 'includes/nodes.html' %}{%- endblock %}										
					</div>

					<div class="tab-pane fade" id="tab-gpio-configuration" role="tabpanel" aria-labelledby="tab-gpio-configuration">
						{% block gpio %}{% include 'includes/gpio.html' %}{%- endblock %}	
					</div>					

					<div class="tab-pane fade" id="tab-control-schema" role="tabpanel" aria-labelledby="tab-control-schema">
						{% block control_schema %}{% include 'includes/control_schema.html' %}{%- endblock %}		
					</div>				

					<div class="tab-pane fade" id="tab-cron-tasks" role="tabpanel" aria-labelledby="tab-cron-tasks">
						{% block cron_tasks %}{% include 'includes/cron_tasks.html' %}{%- endblock %}		
					</div>				

					<div class="tab-pane fade" id="tab-conditional-control" role="tabpanel" aria-labelledby="tab-conditional-control">
						{% block conditional_control %}{% include 'includes/conditional_control.html' %}{%- endblock %}					
					</div>	

					<div class="tab-pane fade" id="tab-user-managmement" role="tabpanel" aria-labelledby="tab-user-managmement">
						{% block user_management %}{% include 'includes/user_management.html' %}{%- endblock %}
					</div>
					
					<div class="tab-pane fade" id="tab-trend-management" role="tabpanel" aria-labelledby="tab-trend-_management">						
						{% block trend_management %}{% include 'includes/trend_management.html' %}{%- endblock %}
					</div>
					
					<div class="tab-pane fade" id="tab-event-history" role="tabpanel" aria-labelledby="tab-event-history">
						{% block event_history %}{% include 'includes/event_history.html' %}{%- endblock %}
					</div>

					<div class="tab-pane fade" id="tab-database-management" role="tabpanel" aria-labelledby="tab-database-management">					
						{% block database_management %}{% include 'includes/database_management.html' %}{%- endblock %}									
					</div>
				</div>
			</div>	
		
		</main>
		
	  </div>
	  
	</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"><\/script>')</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
		<script src="{{url_for( 'admin_bp.static', filename='bootstrap.js') }}"></script>
		
		<script>
			$(document).ready(() => {
				hash = window.location.hash
				if (hash) {
					$(".tab-pane").removeClass("active");
					$(".tab-pane").addClass("fade");
					$(hash).removeClass("fade");
					$(hash).addClass("active");											
				}
			});
		</script>
	</body>
</html>
	
{%- endblock %}
